certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
idna==2.6
imageio==2.2.0
matplotlib==2.1.2
numpy==1.14.0
opencv-python==3.4.0.12
Pillow==5.0.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
pyzmq==17.0.0
requests==2.18.4
six==1.11.0
torch==0.3.0
torchfile==0.1.0
torchnet==0.0.1
torchvision==0.2.0
tornado==4.5.3
urllib3==1.22
visdom==0.1.7
